services:
  url-shortener:
    build:
      context: ..
      dockerfile: compose/Dockerfile
    container_name: service-url-shortener
    restart: unless-stopped
    volumes:
      - maven_cache:/root/.m2
    depends_on:
      - postgres
      - redis
    ports:
      - "${SHORTENER_PORT}:8000"
    env_file:
      - .env

  postgres:
    image: postgres:16.3-alpine
    container_name: postgresql-shortener
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_DATABASE}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "${DB_EXTERNAL_PORT}:5432"
    env_file:
      - .env

  redis:
    image: redis:7-alpine
    container_name: redis-shortener
    restart: unless-stopped
    ports:
      - "${REDIS_PORT}:6379"
    volumes:
      - redis_data:/data
    env_file:
      - .env

volumes:
  postgres_data:
    driver: local
  redis_data:
    driver: local
  maven_cache:
    driver: local
