spring:
  main:
    lazy-initialization: true
  datasource:
    url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
    username: sa
    password: 
    driver-class-name: org.h2.Driver
    hikari:
      connection-timeout: 30000
      maximum-pool-size: 5
      pool-name: "H2TestPool"
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    open-in-view: false
    show-sql: false
    hibernate:
      ddl-auto: update 


application:
  size:
    page: ${PAGE_SIZE:20}

settings:
  cors:
    allowed-origins: ${ALLOWED_ORIGINS}
    max-age: ${CORS_TIME:3600}
