<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProperty scope="context" name="CONSOLE_LOG_PATTERN" source="logging.pattern.console"/>

    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <springProperty scope="context" name="appName" source="spring.application.name" defaultValue="website-blog"/>
    <springProperty scope="context" name="LOKI_ENABLED" source="logging.loki.enabled" defaultValue="false"/>
    <springProperty scope="context" name="LOKI_URL" source="logging.loki.url" defaultValue="http://localhost:3100/loki/api/v1/push"/>

    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>${LOKI_URL}</url>
        </http>
        <format>
            <label>
                <pattern>app=${appName},host=${HOSTNAME},level=%level</pattern>
            </label>
            <message>
                <pattern>
                    {
                      "timestamp": "%d{ISO8601}",
                      "level": "%level",
                      "logger": "%logger{30}",
                      "thread": "%thread",
                      "message": "%msg",
                      "traceId": "%X{traceId:-}",
                      "spanId": "%X{spanId:-}"
                    }
                </pattern>
            </message>
            <sortByTime>true</sortByTime>
        </format>
    </appender>

    <if condition='property("LOKI_ENABLED").equalsIgnoreCase("true")'>
        <then>
            <root level="INFO">
                <appender-ref ref="CONSOLE" />
                <appender-ref ref="LOKI" />
            </root>
        </then>
        <else>
            <root level="INFO">
                <appender-ref ref="CONSOLE" />
            </root>
        </else>
    </if>

</configuration>