logging:
  level:
    root: info
    org:
      springframework: warn
      boot: error
      data:
        redis: debug
  pattern:
    console: '%n %d{HH:mm:ss} | %highlight(%-5level) | %cyan(%logger{30}) | %msg'

management:
  endpoints:
    web:
      exposure:
        include: prometheus, health, info, metrics
  metrics:
    distribution:
      percentiles-histogram:
        http:
          server:
            requests: true
    enable:
      logback: true