PROFILE=prod
AICONTROL_PORT=8000
AI_MODEL=llama3.2
MONGODB_URI=mongodb
AI_URI=ollama
MONGODB_PORT=27017
OLLAMA_PORT=11431
MONGODB_USERNAME=mongodb
MONGODB_PASSWORD=mongodb
MONGODB_DATABASE=ai_sample
ALLOWED_ORIGINS=http://localhost:4200
CORS_TIME=3600
