spring:
  kafka:
    bootstrap-servers: ${KAFKA_SERVICE}
    consumer:
      group-id: ${CONSUMER_ID}
      auto-offset-reset: earliest
      topic:
        name: ${KAFKA_TOPIC}

  datasource:
    url: jdbc:h2:mem:testdb;
    driver-class-name: org.h2.Driver
    username: sa
    password: 
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: create-drop
    show-sql: false 