# Server Configuration
SERVER_PORT=8000
PROFILE=prod

# Database Configuration
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=basic-provider
DB_USER=pliers
DB_PASSWORD=zerocal
DDL_AUTO=validate

# External Database Configuration
DB_EXTERNAL_PORT=5480

# Flyway Configuration
FLYWAY=true
FLYWAY_CLEAN=true
FLYWAY_MIGRATION-VALIDATE=true
# Run once false then set it to true
FLYWAY_MIGRATION-BASELINE=false
FLYWAY_VERSION=1

# Application Security Settings
SECURITY_KEY=*
EXPIRATION_KEY=15m
REFRESH_KEY=7d

# Application Security Settings
WHITELIST_URLS=/v1/auth/sign-in, /v1/auth/sign-up, /v1/auth/refresh-token, /error
SECURITY_KEY=
EXPIRATION_KEY=15m
REFRESH_KEY=7d

# Application Settings
PAGE_SIZE=10
ALLOWED_ORIGINS=*
CORS_TIME=3600
RATE_LIMIT=20
REFIL_TIME=30s
LOGIN_ATTEMPTS=8
CSRF_ENABLED=false

# Security Admin User
ADMIN_USER=adminmaster
ADMIN_EMAIL=admin@admin.com
ADMIN_PASSWORD=adminmaster