management:
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: "health, prometheus"
  endpoint:
    health:
      show-details: always
    prometheus:
      access: unrestricted

  #tracing:
    #sampling:
      #probability: 1.0

  metrics:
    tags:
      application: ${spring.application.name}
    distribution:
      percentiles-histogram:
        http:
          server:
            requests: true

  prometheus:
    metrics:
      export:
        enabled: true

logging:
  level:
    root: INFO
    org:
      springframework: warn
      boot: error
  #loki:
    #enabled: ${LOKI_ENABLED:false}
    #url: ${LOKI_URL:http://localhost:3100/loki/api/v1/push}