spring:
  freemarker:
      check-template-location: false
  main:
    lazy-initialization: true
  datasource:
    url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1
    username: sa
    password: 
    driver-class-name: org.h2.Driver
  h2:
    console:
      enabled: true
  jpa:
    open-in-view: false
    show-sql: false 
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect

application:
  size:
    page: ${PAGE_SIZE:20}

mail:
  mail-server: ${MAIL_SERVER:localhost}
    
settings:
  cors:
    allowed-origins: ${ALLOWED_ORIGINS:*}
    max-age: ${CORS_TIME:3600}

  