management:
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: "health, prometheus"
  endpoint:
    health:
      show-details: always
    prometheus:
      access: unrestricted

  metrics:
    tags:
      application: ${spring.application.name}
    distribution:
      percentiles-histogram:
        http:
          server:
            requests: true

  prometheus:
    metrics:
      export:
        enabled: true

logging:
  level:
    io:
      r2dbc:
        postgres: DEBUG
    root: INFO
    org:
      springframework: warn
      boot: error
      r2dbc: DEBUG