<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Paypal Integration</title>
	<link rel="stylesheet" th:href="@{/css/paymentError.css}">
</head>

<body>
<div class="container">
    <h1 class="text-center mt-5 text-danger">Payment Error</h1>
    <p class="text-center mt-3">An error occurred during the payment. Please try again</p>
    <div class="d-flex justify-content-center mt-5">
        <a href="/" class="btn btn-primary">
            Back to Home
        </a>
    </div>
</div>
</body>

</html>
